/* === color === */

a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, footer ul.link-list li a:hover, .post-meta span a:hover, footer a.text-link, 
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover, 
ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover
{
	color: #00a1e4;
}

/* === background color === */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active.dropdown > a.dropdown-toggle,
.navbar .nav > .active.dropdown > a.dropdown-toggle:hover,
.navbar .nav > .active.dropdown > a.dropdown-toggle:focus,
.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover, 
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover, 
.flex-control-nav li a.active {
	background-color: #209fda;
color:#fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active.dropdown > a.dropdown-toggle{
	background-color: #fff;
color:#209fda;
}

/* === border color === */
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
	border: 1px solid #00a1e4;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #00a1e4;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-moz-box-shadow: 0 0 8px rgba(100, 100, 100, 0.1);
	-webkit-box-shadow: 0 0 8px rgba(100, 100, 100, 0.1);
	box-shadow: 0 0 8px rgba(100, 100, 100, 0.1);
}

input:focus {
	border-color: #00a1e4;
}

form#contactform1 .validation {
	color: #00a1e4;
}

#sendmessage {
	color: #00a1e4;
}

.pullquote-left {
	border-left: 5px solid #00a1e4;
}

.pullquote-right {
	border-right: 5px solid #00a1e4;
}

.heading span,.widgetheading span  {
	background: #00a1e4;
}

/* === Header === */
header{
	border-top: 5px solid #00a1e4;
}

/* header alt 2 */
header.alt2 .contact_info p {
	background: #00a1e4;
}

/* header alt 3 */
header.alt3 .contact_info p {
	background: #00a1e4;
}

/* carousel */
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-next-horizontal:focus
 {
	background: #00a1e4;
}

ul.clients li:hover {
	border: 4px solid #00a1e4;
}

/* buttons */
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
	background: #ef5523;
	border: 1px solid #00a1e4;
}

.btn-theme {
	border: 1px solid #00a1e4;
	background: #ef5523;
}

/* blog */
.post-meta {
	border-top: 4px solid #00a1e4;
}

.post-meta .comments a:hover  {
	color: #00a1e4;
}

.widget ul.tags li a:hover {
	background: #00a1e4;
}

.recent-post .text h5 a:hover{
	color: #00a1e4;
}

/* pricing box */
.pricing-box-alt.special .icon .price-circled {
	background: #00a1e4;
}

.pricing-box-alt  .pricing-action{
	border-top: 4px solid #00a1e4;
}
.pricing-box-alt .pricing-terms {
	border-top: 4px solid #00a1e4;
}

/* shop */
.product-info h4 a:hover {
	color:#00a1e4;
}
.price-circled {
	background: #00a1e4;
}

#content .product-single .product-desc h3 a:hover {
	color:#00a1e4;
}

.widget ul.recent-products li h6 a:hover {
	color:#00a1e4;
}


/* pagination */
#pagination a:hover {
    background: #00a1e4;
}

/* pricing box */
.pricing-box.special .pricing-offer{
	background: #00a1e4;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #00a1e4;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #00a1e4;
}

/* layerslider */
.ls-highlighted-h.color {
background: #00a1e4;	
}

/* flexslider */
#featured .flexslider .slide-caption {
	border-left:5px solid #00a1e4;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #00a1e4;
}
.nivo-caption, .caption {
	border-right: #00a1e4 5px solid;
}

/* footer */
#sub-footer{
	border-bottom:5px solid #00a1e4;
}